#uno-modal {
    direction: ltr;
    box-sizing: border-box;

    * {
        direction: ltr !important;
        text-align: left !important;
        font-family: $font-family !important;
        letter-spacing: 1px !important;
        line-height: 1 !important;
        box-sizing: border-box !important;
    }

    &.uno-modal-fade {
        position: fixed;
        inset: 0 0 0 0;
        background-color: rgba(0, 0, 0, .75);
        z-index: 999;
        display: none;
    }

    .uno {
        &-modal {
            color: #252525;
            text-shadow: none;
            font-family: Vazirmatn, Roboto, sans-serif;
            position: absolute;
            border-radius: $border-radius-lg;
            inset: 50% 50% auto auto;
            transform: translate(50%, -50%);
            background-color: #FFF;
            z-index: 2;
            padding: $space-lg;

            &-header {
                padding-bottom: $space-lg;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            &-title {
                font-size: 22px!important;
                display: flex;
                align-items: center;
                margin-bottom: 0;

                small {
                    font-size: 16px!important;
                    color: $color-gray-60;
                    margin-left: $space-sm;
                }
            }

            &-close {
                height: 12px;
                width: 12px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }
        }
    }
}
