@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#uno-widget {
    position: fixed;
    direction: ltr;
    inset: $space-lg auto auto $space-lg ;
    background-color: #FFF;
    border-radius: $border-radius-lg;
    padding: $space-lg;
    color: $color-primary;
    font-family: $font-family;
    font-weight: $font-weight-normal;
    letter-spacing: $letter-spacing;

    &:hover {
        .uno {
            &-close {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    .uno {

        &-widget-title {
            text-align: left !important;
            margin: 0 0 $space-lg 0;
            font-size: 22px;
        }

        &-tabs-wrapper {
            display: flex;
            align-items: center;
        }

        &-tab {
            border-radius: $border-radius-md $border-radius-md 0 0;
            padding: $space-sm $space-md $space-lg;
            margin-bottom: -$space-md;
            cursor: not-allowed;
            display: flex;
            align-items: center;

            &.active {
                background: $color-green;

                cursor: pointer;

                .uno-tab-text {
                    opacity: 1;
                }

                .uno-tab-icon {
                    opacity: 1;
                }
            }

            &-icon {
                display: inline-flex;
                margin-right: $space-sm;
                opacity: 0.4;
                height: 24px;
            }

            &-text {
                font-size: 18px;
                opacity: 0.4;
            }
        }

        &-tab-content {
            display: flex;
            align-items: center;
            padding: $space-md;
            border-radius: $border-radius-md;
            background-color: $color-green;
        }

        &-timer {
            display: flex;
            align-items: center;
            line-height: 1;
            margin: 0 $space-md 0 0;
            position: relative;

            &-counter {
                font-size: 22px;
            }
        }

        &-record {
            padding-left: $space-md;
            border-left: 1px solid $color-gray-20;
            display: flex;
            align-items: center;
            justify-content: center;

            &-start {
                cursor: pointer;
                line-height: 1;
            }

            &-stop {
                cursor: pointer;
                line-height: 1;
            }

            &-recording {
                opacity: 0;
                transition: all .3s ease;
                position: absolute;
                right: -20px;
                line-height: 1;
                animation: blink 1s infinite;
                display: none;
            }
        }

        &-icons-wrapper {
            display: flex;
            align-items: center;
            width: 100%;
        }

        &-mute {
            margin: 0 $space-md;
            display: flex;
            align-items: center;
            justify-content: center;

            &-start {
                cursor: pointer;
                line-height: 1;
            }

            &-stop {
                cursor: pointer;
                line-height: 1;
            }
        }

        &-mask {
            display: flex;
            align-items: center;
            margin-left: auto;

            &-start {
                cursor: pointer;
                line-height: 1;
            }

            &-stop {
                cursor: pointer;
                line-height: 1;
            }
        }

        &-close {
            cursor: pointer;
            height: 24px;
            width: 24px;
            position: absolute;
            right: 0;
            top: 0;
            transform: translate(-$space-lg, $space-lg);
            color: $color-primary;
            transition: all .3s ease;
            visibility: hidden;
            opacity: 0;
            padding: 3px;
        }
    }
}