@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#uno-widget {
    position: fixed;
    inset: auto auto 25px 25px;
    background-color: #FFF;
    border: 1px solid #8685E0;
    border-radius: 24px;
    padding: 24px;
    color: #232323;
    font-size: 20px;
    direction: ltr;
    font-family: "Inter", serif, arial, helvetica;

    &:hover {
        .uno {
            &-close {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    .uno {

        &-widget-title {
            text-align: left !important;
            margin: 0 0 24px 0;
            font-size: 22px;
        }

        &-tabs-wrapper {
            display: flex;
            align-items: center;
        }

        &-tab {
            border-radius: 16px 16px 0 0;
            padding: 8px 16px 24px;
            margin-bottom: -16px;
            cursor: not-allowed;
            display: flex;
            align-items: center;

            &.active {
                background: #E9F0E9;

                cursor: pointer;

                .uno-tab-text {
                    opacity: 1;
                }

                .uno-tab-icon {
                    opacity: 1;
                }
            }

            &-icon {
                display: inline-flex;
                margin-right: 8px;
                opacity: 0.4;
                height: 24px;
            }

            &-text {
                font-size: 18px;
                opacity: 0.4;
            }
        }

        &-tab-content {
            display: flex;
            align-items: center;
            padding: 16px;
            border-radius: 16px;
            background-color: #E9F0E9;
        }

        &-timer {
            display: flex;
            align-items: center;
            line-height: 1.2;
            margin: 0 20px 0 0;
            position: relative;

            &-counter {
                font-size: 20px;
            }
        }

        &-record {
            padding-left: 15px;
            border-left: 1px solid #C9C9C9;
            display: flex;
            align-items: center;
            justify-content: center;

            &-start {
                cursor: pointer;
                line-height: 1;
            }

            &-stop {
                cursor: pointer;
                line-height: 1;
            }

            &-recording {
                opacity: 0;
                transition: all .3s ease;
                position: absolute;
                right: -20px;
                line-height: 1;
                animation: blink 1s infinite;
                display: none;
            }
        }

        &-icons-wrapper {
            display: flex;
            align-items: center;
            width: 100%;
        }

        &-mute {
            margin: 0 15px;
            display: flex;
            align-items: center;
            justify-content: center;

            &-start {
                cursor: pointer;
                line-height: 1;
            }

            &-stop {
                cursor: pointer;
                line-height: 1;
            }
        }

        &-mask {
            display: flex;
            align-items: center;
            margin-left: auto;

            &-start {
                cursor: pointer;
                line-height: 1;
            }

            &-stop {
                cursor: pointer;
                line-height: 1;
            }
        }

        &-close {
            cursor: pointer;
            height: 16px;
            width: 16px;
            position: absolute;
            right: 0;
            top: 0;
            transform: translate(-8px, 8px);
            border: 1px solid black;
            background-color: white;
            border-radius: 50%;
            color: black;
            font-size: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .3s ease;
            visibility: hidden;
            opacity: 1;
            padding: 3px;
        }
    }
}