# ide and editors
/.vscode/*
/.idea/*

# package files
node_modules/

# other lock files
yarn.lock

# local storage dir
/_

# changeset
.changeset

# local build folder
/dist
/.vs/UnoJs/FileContentIndex/read.lock
/.vs/UnoJs/FileContentIndex/fb229b39-ded6-4161-b916-a64a973a1f98.vsidx
/.vs/UnoJs/FileContentIndex/64f257de-d628-4908-bf23-874698e02ba1.vsidx
/.vs/UnoJs/FileContentIndex/217f492f-68d6-4f3f-a664-6279081f9e45.vsidx
/.vs/UnoJs/config/applicationhost.config
/.vs/slnx.sqlite-journal
/.vs/slnx.sqlite
/.vs/UnoJs/FileContentIndex/d9998a4c-2b22-4597-b2b0-07ec19426c1d.vsidx
/.vs/UnoJs/FileContentIndex/80376381-58fd-4fee-aeee-cf86c779ac95.vsidx
/.vs/UnoJs/FileContentIndex/bafc8133-b4b6-4f67-90de-fad772422e2e.vsidx
/.vs/UnoJs/FileContentIndex/412a1a01-4985-4741-b4e9-6c9bbcf821ad.vsidx
