# ide and editors
/.vscode/*
/.idea/*

# package files
node_modules/

# lock files
package-lock.json
yarn.lock

# local storage dir
/_

# changeset
.changeset

# hot-update files in develop
dist/main.js
dist/main.css
dist/main.*.hot-update.*