/* Color */
$color-primary: #15171A;
$color-green: #E9F0E9;
$color-gray-20: rgba($color-primary, 0.20);

/* Font */
$font-family: "Inter", serif, arial, helvetica;
$font-weight-normal: 400;
$font-weight-semibold: 500;
$font-weight-bold: 600;

/* Border Radius */
$border-radius-lg: 24px;
$border-radius-md: 16px;
$border-radius-sm: 8px;

/* Spacing */
$space-lg: 24px;
$space-md: 16px;
$space-sm: 8px;

/* Text */
$letter-spacing:-0.44px;